<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f4448aba-c192-4ff2-9b03-05b0a32f2854/resourceGroups/SamSignalRService/providers/Microsoft.Web/sites/SamSignalRBackend</ResourceId>
    <ResourceGroup>SamSignalRService</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <WebConfigEnvironmentVariables>ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.Azure.SignalR</WebConfigEnvironmentVariables>
    <SiteUrlToLaunchAfterPublish>https://samsignalrbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>samsignalrbackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SamSignalRBackend</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SamSignalRBackend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>